body {
  max-width: 400px;
  margin: 0 auto;
}
input, select, img {
  width: 100%;
}

.col {
  width: 25%;
  float: left;
}
.results {
  font-size: 18vw;
}
.inputs {
  display: flex;
}
.col {
  flex: 1;
}
.enemy {
  flex: 2;
}
@media(min-width: 400px) {
  .results {
    font-size: 4.5em;
  }
}
