<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="app.css"></link>
    <script src="app-built.js"></script>
  </head>
  <body ng-app="punchoutCodesApp">
    <div ng-controller="PunchoutCtrl as punchout">
      <div>
        <img src="bike.gif">
      </div>
      <div class="inputs">
      <div class="col"><label for="wins">Wins</label><input type="number" pattern="[0-9]*" name="wins" ng-model="punchout.wins" ng-change="punchout.updatePassword()"></div>
      <div class="col"><label for="losses">Losses</label><input type="number" pattern="[0-9]*" name="losses" ng-model="punchout.losses" ng-change="punchout.updatePassword()"></div>
      <div class="col"><label for="kos">KOs</label><input type="number" pattern="[0-9]*" name="kos" ng-model="punchout.kos" ng-change="punchout.updatePassword()"></div>
      <div class="col enemy"><label for="enemy">Enemy</label>
        <select ng-model="punchout.enemy" ng-change="punchout.updatePassword()">
          <option value="0">Don Flamenco</option>
          <option value="1">Piston Honda</option>
          <option value="2">Super Macho Man</option>
        </select>
      </div>
      </div>
      <div class="results" ng-bind="punchout.password"></div>
    </div>
  </body>
</html>
